html {
  scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: white;
  overflow-x: hidden;

}
section ul li{
  list-style: none;
  line-height: 1.7em
}

.container{
    width: 80%;
    margin: auto; /* will move the content to the middle*/
    overflow: hidden;   
    
}

.button{
    height: 48px;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: rgba(228, 192, 198, 0);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(207, 201, 201);

  
}
.button:hover{
  
    cursor: pointer;
   
 background-color: #000;
    border: 1px solid rgb(7, 7, 7);
    
  
}
header{
    background-color:transparent;
  color: whitesmoke;
    padding-top: 5px;
    min-height: 85px;
  position: absolute;
  top: 0;
  width:100%;  
  z-index: 1;
}

header a{
    color: white;
    text-decoration: none;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px;
    border-radius: 100%;
    border: 1px solid rgb(114, 107, 107);
    padding: 25px;
}

header ul{
    list-style: none;
    padding: 0;
    margin: 0;
    z-index:1;
    display: flex;
}
header li{

  padding: 0px 20px 0px 20px;
  
    
}



header nav{
    float:right;
    margin-top: 40px;

}

header a:hover{
    color: white;
    border-radius: 100%;
    padding: 25px;
    border: 1px solid rgb(246, 241, 241);
}
#header-img{
    width: 55px;
    height: 87px;
}
#over-lay{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.555);
  
}
#showcase{
    height: 100vh;
    background: url('bread.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    color:white;
}

#showcase h1{
  font-family: 'Tangerine', serif;
  font-weight: 350;
    margin-top:320px;
    text-align: center;
    font-size: 85px;
    margin-left: 60px;
    width:85%;
    line-height: 65px;
   
}
#showcase p{
    font-size: 30px; 
}

#boxes{

  width:50%;
margin: auto;
  height:auto;
display: flex;
margin-top: 80px;
width: 80%;
justify-content: center;
  
}
h4{
  font-size: 15px;
  margin: 0;
}
#pack-sec{
height: 80vh;
margin-top: 5rem;
}
.h1{

  text-align: center;
  background-color:white;
  font-family: 'Dancing Script';
  font-size: 45px;
  font-weight: 500;
}
#boxes .box p{
  font-size: 17px;
  width: 80%;
  margin: 0;
  line-height: 15px;
}

 #boxes .box{
     color: rgb(7, 7, 7);
     width:10%;
     height: 90px;
     border-radius: 100%;
     background-color: rgba(141, 116, 63, 0.466);
     text-align: center;
  margin-right: 20px;
  margin-top: 3.5rem;
  padding: 20px;
 }
 #boxes .box img{
width: 40px;

 }

 #boxes .box p{
   width: 90%;
   margin-left: 10px;
   text-align: center;
 }

 .cake{
   flex: 4;
   display: flex;
   justify-self: end;
   height: 37rem;
   border-radius: 100%;
 }
 .cake img{
 width:50%;
 height:400px;
 margin-top: 80px;
 margin-left: 8rem;
 border-radius: 100%;
 box-shadow: 55px 55px rgba(182, 181, 181, 0.466);
 }
 .mid-pic{
   width: 10px;
   height: 10px;
 }
 .box{
   padding:10px;
   width: 50%;

 }
#work-sec{
  height: 100vh;
}
 #pack-sec h1{
   text-align: center;
   font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
 }
#work .box{
  margin: auto;
  width:90%;
  margin-bottom: 150px;
  text-align:center;
}

/* contact me */
.form{
  background-color: transparent;

}

#contact h1{
  padding-top: 50px;
  margin: 0;
  font-family: 'Dancing Script';
  font-size: 45px;
  font-weight: 500;
  color: #ffffff;
}
input[type="text"],
input[type="email"],
textarea {
  width: 85%; 
  padding: 12px;
  border: 1px solid rgb(168, 166, 166); 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input[type="submit"] {
  background-color: white;
  color: rgb(71, 68, 68);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: rgb(71, 68, 68);
  color: white;
}

.contact-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border-radius: 20px;
 background-color: rgba(245, 240, 240, 0.918);
  padding: 80px;
  width: 30%;
  margin: auto;
  justify-content: center;
}
.overlay{
 height: 100vh;
  background-color: rgba(0, 0, 0, 0.575);
}
#contact {
height: 100vh;
  text-align: center;
  color: #000;
  background-image: url('contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
#contact .overlay p{
  font-family: 'Dancing Script';
  font-size: medium;
}
#packages {
  width:100%;
  display:flex;
 

} 
#packages p{
  width: 70%;
margin-left: 65px;
text-align: center;
  margin-bottom: 0rem;
  
}

#packages h2{
  color:black;
  text-align: center;
}
.service-pic{
  margin: auto;
  width: 40%;

}

.work-overlay{ 
  height: 100vh;
    background-size: cover;
    color:white;
  
  background-color: rgba(0, 0, 0, 0.829);
}
#work{
background-image: url('dough.jpg');
}

#work-sec h4{
  font-weight: 300;
  padding: 60px;
  font-size: 42px;
  text-align: center;
  color:white;
  text-align: center;
   font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
  
}
#work-done{
    text-align: center;
    padding: 20px;
  }

.img{
  width:260px;
  padding:0 20px 30px 0px;
}
.work-img{
  width:100%;
  display:grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.icon {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border-radius: 5px;
  padding: 20px;

  justify-content: center;
}
.iconx {
  padding: 18px;
  color: rgb(247, 245, 245);
}
.iconx:hover {
  color: #000;
}
footer {
  margin-top: 0px;
  background-color: rgb(141, 136, 136);
  padding:10px;
}

footer ul {
  display: flex;
  justify-content: center;
  
}

footer ul li{
  padding:0 10px;
  list-style:none;
    color:black;
}
a {
  color: black;
  text-decoration: none;
}

footer span{
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: rgb(243, 239, 239);
}
@media(max-width:330px){
  
  #contact{
    height: 120vh;
  }
.overlay{
  height: 120vh;
}

  footer{
    margin-top: 2rem;
  }
}
@media (max-width: 700px){
  

  
  #header a{
    font-size: 10px;
    padding: 12px;
    border-radius: 40px;
  }
  #header{
    padding-top:0;
    opacity: 0.8;
  }
  
  #showcase h1{
    font-size: 27px;
    border-radius:80px;
  }
  #showcase p{
    display:none;
  }
  form{
    width: 90%;
  }
  #boxes .box{
   
   margin: auto;


 }
  
  #boxes{
    display:flex;
    flex-direction:column;
    width: 100%;
    margin: auto; /* will move the content to the middle*/
    overflow: hidden;
  }
  #boxes .box{
    width: 100%;
    padding: 8px;
    font-size:13px;
  }

 #packages{
    display:flex;
    flex-direction:column;
    width: 90%;
    margin: auto; /* will move the content to the middle*/
    overflow: hidden;
  }

  #packages p{
    margin: auto;
  }

#showcase{

  background-size: cover;
    text-align: center;
    
}
#showcase h1{
  margin-top: 200px;
  font-size: 60px;
  margin-left: 0;
  width: 100%;
}

.button{
  background-color: antiquewhite;
  color: #000;
}

#pack-sec{
  height: 175vh;
}

#boxes{
  display: flex;
  flex-direction: row;
flex-wrap: nowrap;

}
#boxes .box{
  width: 15%;
  height: 60px;
  margin-top: 2rem;

 
}
#boxes .box p{
  font-size: 10px;
  width: 100%;
  margin: 0;
  line-height: 13px;
}
#boxes .box img {
  width: 20px;
}

#work-sec h4{
  line-height: 45px;
}

  #work img{
    padding: 0px;
    width: 95%;
  }
  .contact-container{
    width: 50%;
    padding: 50px;
  }
form{
  margin-right:0px;
}
  input[type="text"],
input[type="email"],
textarea {
  width: 120%; 
  padding: 12px;
  border: 1px solid rgb(168, 166, 166); 
  border-radius: 4px; 
  box-sizing: border-box; 

  resize: vertical;
}


}